.product-search {
  background-color: rgb(238, 235, 235);
  width: 96.5%;
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
}
h4 {
  font-size: 18px;
}
.product-search .seachforproduct,
.price,
.Customer,
.Size {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.product-search .seachforproduct input {
  border: 1px solid gray;
  outline: none;
}
.add-product {
  width: 96.5%;
  margin-top: 20px;
  background-color: rgb(238, 235, 235);
  height: 300px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}
.product-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
.product-input input {
  width: 300px;
}
select {
  width: 300px;
}
.product-input label {
  margin-left: 20px;
  font-size: 18px;
}
