.navbar {
  width: 1090px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(2, 145, 64);
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.navbar input {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  text-indent: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-left: 10px;
}
.navbar .info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 40px;
  color: white;
}
.navbar .info h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: cursive;
  margin-top: 5px;
}
.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
